@import '~bootstrap/scss/bootstrap.scss';

  /* Mobile/tablet view */
  @media only screen and (max-width: 1023px) {

    //insert styles for mobile here

  };

  /* Desktop view */
  @media only screen and (min-width: 1024px) {

    .App {
      display: flex;

      .divider {
        border-bottom: 1px solid black;
        width: 90%;
      }

      a {
        color: black;
      }

      .content-container {
        align-self: flex-end;

        display: flex;
        flex-direction: column;
        align-items: center;

        border: 1px solid #ECECEC;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 100%;
        min-height: 51em;
        padding: .5em;
  
      }

    }

    .Sidebar {
      width: 16em;
      height: 34em;
      padding: .5em;
      border-radius: 0 25px 25px 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: 4em;
      position: fixed;
    }

    .Header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        text-align: left;
        width: 90%;
        padding: 1em 0 1em 1em;

        h1 {
          font-family: 'Fredoka One', cursive;
          font-size: 5em;
          padding-bottom: 0;

          #play-icon {
            font-size: .57em;
            margin-bottom: .1em;
          }
        }

        h6 {
          margin-top: -0.7em;
        }

      }

      .user-info {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 90%;
        padding: 1em 0 1em 0;

        h5 {
          padding: .5em 0 0 0;
          width: 3em;
        }

        img {
          filter: drop-shadow(.5rem 0 .4rem lightgray);
          height: 3em;
        }
      }
    }

    .Navbar {
      padding: 0;
      margin: 0 auto;

      .navbar-expand-lg{
        padding: 1.5em 0 0 0;
        border: 0;
        width: 100%;
      }

      #basic-Menu-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin: 0 auto;
        padding: 0 0 0 1em;
        width: 100%;

        h4 {
          padding: .5em 0 .5em 0;
        }
      }
    }

    .Home {
      flex-grow: 2;
      
      display: flex;
      justify-content: center;

      padding: 4em 0 0 15em;

      h4 {
        padding: 2.5em 0 1.5em 0;
      }

      .link-input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      form {
        padding: .7em 0 .7em 0;
        width: 30em;
      }

      .search-results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        width: 95%;

        .card {
          margin: 1em 0 1em 0;

          .card-header {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 4em;
          }
        }
      }

      .video-list {
        padding-top: 2em;
      }

    }

    .UserVideos {
      flex-grow: 2;
      display: flex;
      justify-content: center;

      padding: 4em 0 0 14em;
      
      h4 {
        padding: 2.5em 0 1.5em 0;
      }
      
      .user-video-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        width: 95%;

        .card {
          margin: 1em 0 1em 0;

          .card-header {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 4em;
          }
        }
      }

    }

    .Categories {
      flex-grow: 2;

      display: flex;
      justify-content: center;

      padding: 4em 0 0 14em;

      .nav {
        align-self: center;

        width: 90%;
        padding-top: 2.5em;
        border-bottom: 1px solid black;

        .nav-link{
          border-bottom: 1px solid black;
          font-size: 1.3em;
        }

      }

      .ShowCategories {
        align-self: center;

        width: 90%;

        h5 {
          padding-bottom: 1.7em;
        }

        .Accordion {
          padding-top: 2em;

          .card {
            border-radius: 5px;
            //set the color on the accordion here

            .card-header{
              background-color: transparent;
              font-size: 1.1em;
            }

            .card-header > div{
              border: transparent;
              background-color: transparent;
            }
          }
        }

        .VideoThumbnails {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          
          .card {
            margin: 1em 0 1em 0;
  
            .card-header {
              display: flex;
              align-items: center;
              justify-content: center;
  
              height: 4em;
            }
          }
        }

      }

      .EditCategories {
        align-self: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding-top: 1.5em;
        width: 90%;

        .mb-3 {
          align-self: center;

          padding: .7em 0 .7em 0;
          width: 30em;
        }

        .table-responsive {
          align-self: center;
          width: 65%;

          
          .edit-categ-list{
            align-self: center;
            
            vertical-align: baseline;
            border-bottom: 1px solid #DEE2E6;

            .cat-name {
              padding-top: .1em;
              font-size: 1.3em;
            }

            .mb-3 {
              margin-left: 5em;
            }
          

            button {
              border: transparent;
              color: black;
            }
          }

        }
      }
     
    }

    .Moments {
      flex-grow: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 4em 0 0 14em;
      width: 90%;

      .min-max {
        visibility: hidden;
      }

      .moments-page {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin-top: 4em;
        width: 95%;

        .save-video .btn {
          margin: 3.3em 6em 0 0;
        }

        .player-group {

          .loop-toggle {
            display: flex;
            align-items: center;
            justify-content: flex-end;
  
            height: 2.5em;
            margin: 0 2em 1em 0;
  
            p {
              padding: 1em 1em 0 3em;
              font-weight: 900;
            }
          }
        }


        .moments-group {
          flex-grow: 2;

          display: flex;
          flex-direction: column;
          align-items: flex-end;

          padding: 0 1.5em 0 1.5em;
          margin: 3em 0 .7em 0;

          .new-moment{
            display: flex;
            align-items: center;
            margin: 0 .7em 2em 0;
          }

          .moments-list {
            display: flex;
            flex-wrap: wrap;

            width: 85%;

            th {
              text-decoration: underline;
              text-decoration-style: solid;
              padding-bottom: .5em;
            }
            
            td {
              vertical-align: baseline;
              border-top: transparent;
              overflow: hidden;
              word-wrap:break-word;
            }

            button {
              border: transparent;
              color: black;
            }
          }
        }

        
      }
    }

    .Register {
      flex-grow: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 4em 0 0 14em;
      
      .register-form{
        border: 2px solid #c5b8b8;
        border-radius: 5px;
        margin-top: 4em;
        padding: 3em;
      }

    }

    .Login {
      flex-grow: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 4em 0 0 14em;
      
     
      .login-form{
        border: 2px solid #c5b8b8;
        border-radius: 5px;
        margin-top: 4em;
        padding: 3em;

      }

    }

  };