@import '~bootstrap/scss/bootstrap.scss';

  /* Mobile/tablet view */
  @media only screen and (max-width: 1023px) {

    //insert styles for mobile here

  };

  /* Desktop view */
  @media only screen and (min-width: 1024px) {

    .App {
      display: flex;
    }

    .Navbar {
      display: flex;
      flex-direction: column;
      border: 2px solid blue;
    }

    .Home {
      border: 2px solid orange;
      flex-grow: 2;

      .link-input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .input-group {
        width: 50em !important;
      }
      
      .search-result a{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        
      }
    }

    .Uservideos {
      border: 2px solid purple;
      flex-grow: 2;

      .user-video-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
      }
    }

    .Categories {
      border: 2px solid pink;

      .EditCategories {
        border: 2px solid yellow;
      }
     
    }

    .Moments {
      border: 2px solid green;
    }

    .Register {
      display: flex;
      flex-grow: 2;
      justify-content: center;
      
      .form{
        border: solid limegreen;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

        // width: 50%;
        // height: 50%;
        // min-width: 200px;
        // max-width: 400px;
        // padding: 40px;

        display: flex;
        flex-direction: column;
      }

    }

    .Login {
      display: flex;
      flex-grow: 2;
      justify-content: center;
      
     
      .form{
        border: solid limegreen;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

        width: 50%;
        height: 50%;
        min-width: 200px;
        max-width: 400px;
        padding: 40px;

        display: flex;
        flex-direction: column;

      }

    }

  };