@import '~bootstrap/scss/bootstrap.scss';

  /* Mobile/tablet view */
  @media only screen and (max-width: 1023px) {

    //insert styles for mobile here

  };

  /* Desktop view */
  @media only screen and (min-width: 1024px) {

    .App {
      display: flex;

      .divider {
        border-bottom: 1px solid black;
        width: 90%;
      }

      a {
        color: black;
      }

      .content-container {
        border: 2px solid red;
        border: 1px solid #ECECEC;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 100%;
        padding: .5em;

      }
    }

    .Sidebar {
      width: 20em;
      height: 100vh;
      padding: .5em;
      background-color: #F7F7F7;
      border: 1px solid #ECECEC;
      border-radius: 0 25px 25px 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .Header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        text-align: left;
        width: 90%;
        padding: 1em 0 1em 1em;

        h1 {
          font-family: 'Fredoka One', cursive;
          font-size: 5em;
          padding-bottom: 0;

          #play-icon {
            font-size: .57em;
            margin-bottom: .1em;
          }
        }

        h6 {
          margin-top: -0.7em;
        }
      }

      .user-info {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 90%;
        padding: 1em 0 1em 0;

        h5 {
          padding: .5em .5em 0 0;
        }

        img {
          filter: drop-shadow(.5rem 0 .4rem lightgray);
        }
      }
    }

    .Navbar {
      padding: 0;
      margin: 0 auto;

      .navbar-expand-lg{
        padding: 1.5em 0 0 0;
        border: 0;
        width: 100%;
      }

      #basic-Menu-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin: 0 auto;
        padding: 0 0 0 1em;
        width: 100%;

        h4 {
          padding: .5em 0 .5em 0;
        }
      }
    }

    .Home {
      border: 2px solid orange;
      flex-grow: 2;

      .link-input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .input-group {
        width: 50em !important;
      }
      
      // .search-result a{
      //   display: flex;
      //   flex-wrap: wrap;
      //   justify-content: space-around;
      //   flex-direction: row;
        
      // }
    }

    .UserVideos {
      border: 2px solid purple;
      flex-grow: 2;

      // .user-video-list{
      //   border: 2px solid blue;

      //   display: flex;
      //   flex-wrap: wrap;
      //   justify-content: space-around;
      //   flex-direction: row;
      // }
    }

    .Categories {
      flex-grow: 2;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding-top: 6.9em;

      .nav {
        align-self: flex-start;

        // border: 2px solid blue;
        border-bottom: 1px solid black;

      }

      .ShowCategories {
        border: 2px solid lime;

        .Accordion {
          border: 2px solid crimson;

          .card {
            border-radius: 5px;
            //set the color on the accordion here

            .card-header{
              border-radius: 5px;
            }
          }
        }

      }

      .EditCategories {
        width: 90%;
      }
     
    }

    .Moments {
      border: 2px solid green;
    }

    .Register {
      display: flex;
      flex-grow: 2;
      justify-content: center;
      
      .form{
        border: solid limegreen;
        margin: auto;
        position: absolute;
        // top: 0; left: 0; bottom: 0; right: 0;

        // width: 50%;
        // height: 50%;
        // min-width: 200px;
        // max-width: 400px;
        // padding: 40px;

        display: flex;
        flex-direction: column;
      }

    }

    .Login {
      display: flex;
      flex-grow: 2;
      justify-content: center;
      
     
      .form{
        border: solid limegreen;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

        width: 50%;
        height: 50%;
        min-width: 200px;
        max-width: 400px;
        padding: 40px;

        display: flex;
        flex-direction: column;

        label {
          width:200px;
          display: inline-flex;
        }

      }

    }

  };