@import '~bootstrap/scss/bootstrap.scss';

  /* Mobile/tablet view */
  @media only screen and (max-width: 1023px) {

    //insert styles for mobile here

  };

  /* Desktop view */
  @media only screen and (min-width: 1024px) {

    .App {
      display: flex;
    }

    .Navbar {
      display: flex;
      flex-direction: column;
      border: 2px solid blue;
    }

    .Home {
      border: 2px solid orange;
    }

    .Uservideos {
      border: 2px solid purple;
    }

    .Categories {
      border: 2px solid pink;

      .EditCategories {
        border: 2px solid yellow;
      }

      
    }

    .Moments {
      border: 2px solid green;
    }

  };